
img{
  height: 200px;
}

section{
  margin: 100px 0 100px;
}

#steps{
  background-color: #f9f9f9;
}

#why{
  background-color: #f9f9f9;
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}
